<a href="https://colab.research.google.com/github/drisAloma/drisAloma/blob/main/Data_curation_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import altair as alt
from bs4 import BeautifulSoup
import requests

In [ ]:
##Category ;
# All Books
best_sellers_AB = 'https://www.amazon.com/best-sellers-books-Amazon/zgbs/books/ref=zg_m_bs_unv_b_1_25_1'

#Computer & Technology
best_sellers_CT = 'https://www.amazon.com/Best-Sellers-Books-Computers-Technology/zgbs/books/5/ref=zg_m_bs_nav_b_1_b'

#Science, Fiction & Fantasy
best_sellers_SFF = 'https://www.amazon.com/Best-Sellers-Books-Science-Fiction-Fantasy/zgbs/books/25/ref=zg_m_bs_nav_b_1_b'

#Religion & Spiritual
best_sellers_RS = 'https://www.amazon.com/Best-Sellers-Books-Religion-Spirituality/zgbs/books/22/ref=zg_m_bs_nav_b_1_b'

#Romance
best_sellers_RM = 'https://www.amazon.com/Best-Sellers-Books-Romance/zgbs/books/23/ref=zg_m_bs_nav_b_1_b'

#History
best_sellers_HT = 'https://www.amazon.com/Best-Sellers-Books-History/zgbs/books/9/ref=zg_m_bs_nav_b_1_b'

#Engineering & Transportation
best_sellers_ET = 'https://www.amazon.com/Best-Sellers-Books-Engineering-Transportation/zgbs/books/173507/ref=zg_m_bs_nav_b_1_b'

In [ ]:
no_pages = 3

def get_data(pageNo):  
    headers = {"User-Agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 11_1; rv:77.0) Gecko/20100101 Firefox/77.0", "Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}

    r = requests.get(best_sellers_HT+str(pageNo)+'?ie=UTF8&pg='+str(pageNo), headers=headers)#, proxies=proxies)
    content = r.content
    soup = BeautifulSoup(content)
    #print(soup)

    alls = []
    for d in soup.findAll('div', attrs={'class':'a-section a-spacing-none aok-relative'}):
        #print(d)
        name = d.find('span', attrs={'class':'zg-text-center-align'})
        n = name.find_all('img', alt=True)
        #print(n[0]['alt'])
        author = d.find('a', attrs={'class':'a-size-small a-link-child'})
        rating = d.find('span', attrs={'class':'a-icon-alt'})
        users_rated = d.find('a', attrs={'class':'a-size-small a-link-normal'})
        price = d.find('span', attrs={'class':'p13n-sc-price'})

        all1=[]

        if name is not None:
            #print(n[0]['alt'])
            all1.append(n[0]['alt'])
        else:
            all1.append("unknown-product")

        if author is not None:
            #print(author.text)
            all1.append(author.text)
        elif author is None:
            author = d.find('span', attrs={'class':'a-size-small a-color-base'})
            if author is not None:
                all1.append(author.text)
            else:    
                all1.append('0')

        if rating is not None:
            #print(rating.text)
            all1.append(rating.text)
        else:
            all1.append('-1')

        if users_rated is not None:
            #print(price.text)
            all1.append(users_rated.text)
        else:
            all1.append('0')     

        if price is not None:
            #print(price.text)
            all1.append(price.text)
        else:
            all1.append('0')
        alls.append(all1)    
    return alls

In [ ]:
results = []
for i in range(1, no_pages+1):
    results.append(get_data(i))
flatten = lambda l: [item for sublist in l for item in sublist]
df = pd.DataFrame(flatten(results),columns=['Book_Name','Author','Ratings','Reviews', 'Price'])
df.to_csv('history.csv', index=False, encoding='utf-8')

In [ ]:
#All books

In [ ]:
best_sellers_AB = pd.read_csv("best_sellers_books.csv")

In [ ]:
best_sellers_AB['Rank'] = np.arange(1,101,1)

In [ ]:
best_sellers_AB.head()

                                           Book_Name  ... Rank
0              The Stranger in the Lifeboat: A Novel  ...    1
1              Big Shot Diary of a Wimpy Kid Book 16  ...    2
2                     Dune (Dune Chronicles, Book 1)  ...    3
3                              How to Catch a Turkey  ...    4
4  Immune: A Journey into the Mysterious System T...  ...    5

[5 rows x 6 columns]

In [ ]:
#Science, Fiction & Fantasy

In [ ]:
best_sellers_SFF = pd.read_csv("science_fiction_fantasy.csv")
best_sellers_SFF.head()

                        Book_Name                   Author  ... Reviews   Price
0                            Dune            Frank Herbert  ...  37,328       0
1         Reaper (Cradle Book 10)               Will Wight  ...      20   $6.99
2         Reaper: Cradle, Book 10               Will Wight  ...      20       0
3  Dune (Dune Chronicles, Book 1)            Frank Herbert  ...  37,328  $12.01
4            E-Day: E-Day, Book 1  Nicholas Sansbury Smith  ...     419       0

[5 rows x 5 columns]

In [ ]:
#Computer & Technology

In [ ]:
best_sellers_CT = pd.read_csv("computer_technology.csv")
best_sellers_CT.head()

                                           Book_Name  ...   Price
0                The Age of AI: And Our Human Future  ...  $23.99
1                The Age of AI: And Our Human Future  ...       0
2  Start with Why: How Great Leaders Inspire Ever...  ...       0
3                The Age of AI: And Our Human Future  ...  $14.99
4  Start with Why: How Great Leaders Inspire Ever...  ...   $8.79

[5 rows x 5 columns]

In [ ]:
#Religion & Spiritual

In [ ]:
best_sellers_RS = pd.read_csv("religion_spiritual.csv")
best_sellers_RS.head()

                                           Book_Name  ...   Price
0              The Stranger in the Lifeboat: A Novel  ...  $15.07
1                 The Last Rose of Shanghai: A Novel  ...   $4.99
2  The Four Agreements: A Practical Guide to Pers...  ...   $5.77
3     Operation Joktan (A Nir Tavor Mossad Thriller)  ...  $14.39
4              The Stranger in the Lifeboat: A Novel  ...       0

[5 rows x 5 columns]

In [ ]:
#Engineering & Transportation

In [ ]:
best_sellers_ET = pd.read_csv("engineering_transportation.csv")
best_sellers_ET.head()

                             Book_Name  ...   Price
0  The Age of AI: And Our Human Future  ...  $23.99
1  The Age of AI: And Our Human Future  ...       0
2        The Book of Unusual Knowledge  ...   $9.93
3  The Age of AI: And Our Human Future  ...  $14.99
4   Lots of Knock-Knock Jokes for Kids  ...   $4.99

[5 rows x 5 columns]

In [ ]:
#Romance

In [ ]:
best_sellers_RM = pd.read_csv("romance.csv")
best_sellers_RM.head()

                            Book_Name            Author  ... Reviews  Price
0  Star Cursed (Zodiac Wolves Book 2)  Elizabeth Briggs  ...      36  $4.99
1                           The Truth    Lauren Landish  ...      50  $3.99
2                      The Hunted One    Brittney Sahin  ...     863  $3.99
3            A Day Like This: A Novel     Kelley McNeil  ...   6,485  $4.99
4                         Well Played        Vi Keeland  ...     822  $4.99

[5 rows x 5 columns]

In [ ]:
#History

In [ ]:
best_sellers_HT = pd.read_csv("history.csv")
best_sellers_HT.head()

                                           Book_Name  ...   Price
0  The Dawn of Everything: A New History of Humanity  ...  $21.39
1  The President and the Freedom Fighter: Abraham...  ...  $18.18
2  Woke Up This Morning: The Definitive Oral Hist...  ...  $23.99
3              Sapiens: A Brief History of Humankind  ...  $11.20
4  Not All Diamonds and Rosé: The Inside Story of...  ...  $18.79

[5 rows x 5 columns]

In [ ]:
# Comparing best sellers from each category with
# best sellers in All books available to sale

In [ ]:
most_sales_in_SFF = set(best_sellers_AB['Book_Name']).intersection(best_sellers_SFF['Book_Name'])
most_sales_in_SFF

TypeError: ignored

In [ ]:
most_sales_in_CT = list(np.intersect1d(best_sellers_AB['Book_Name'],best_sellers_CT['Book_Name']))
most_sales_in_CT

TypeError: ignored

In [ ]:
most_sales_in_RS = list(np.intersect1d(best_sellers_AB['Book_Name'],best_sellers_RS['Book_Name']))
most_sales_in_RS

TypeError: ignored

In [ ]:
most_sales_in_ET = list(np.intersect1d(best_sellers_AB['Book_Name'],best_sellers_ET['Book_Name']))
most_sales_in_ET

TypeError: ignored