In [4]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings(action = 'ignore')

# QUESTION 1

Which of the following option is the best way to create this list? A_B = [1,2,3,4,5,6,13, 21, 34], Given A = [1,2,3,4,5,6], B = [13, 21, 34]

In [5]:
print('None of the above')

None of the above

# QUESTION 2

How do you create an identity matrix in python?

In [6]:
np.eye(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [7]:
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

# ElectricIty Utility Report Dataset

AIM : CLEANING, WRANGLING AND EXPLORING

In [8]:
data = pd.read_csv('C:/Users/suraj/.spyder-py3/fuel_ferc1.txt',
                   sep = ',',engine = 'python')
data.head()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570

In [9]:
data.shape

(29523, 11)

# QUESTION 3

Which of the following fuel type code has the lowest average fuel cost per unit burned?

In [10]:
Q3 = data.groupby('fuel_type_code_pudl').agg({'fuel_cost_per_unit_burned': ['mean']})
Q3.columns = Q3.columns.map('_'.join)
Q3.sort_values(by = 'fuel_cost_per_unit_burned_mean')

                     fuel_cost_per_unit_burned_mean
fuel_type_code_pudl
gas                                       13.659397
other                                     18.253856
waste                                     19.518122
coal                                      67.421830
oil                                      168.877086
nuclear                                 4955.157002

# QUESTION 4

What is the standard deviation and 75th percentile of the measure of energy per unit (Fuel_mmbtu_per_unit) in two decimal places?

In [11]:
Q4 = data['fuel_mmbtu_per_unit'].describe()
print(f'Standard Deviation: {Q4[2]:.2f}\n75th percentile: {Q4[6]:.2f}')

Standard Deviation: 10.60
75th percentile: 17.01

# QUESTION 5

What is the skewness and kurtosis for the fuel quantity burned in two decimal places?

In [12]:
fuel_qty_skew = data[ 'fuel_qty_burned'].skew()
fuel_qty_kurt = data[ 'fuel_qty_burned'].kurt()

In [13]:
print(f'skewness: {fuel_qty_skew:.2f}\nkurtosis: {fuel_qty_kurt:.2f}')

skewness: 15.85
kurtosis: 651.37

# QUESTION 6

Which feature has missing values and what is the total number of missing value and percentage of the missing rows as a factor of the total number of rows in three decimal places?

In [14]:
data.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [15]:
percentage = (data.fuel_unit.isnull().sum()/len(data))*100

In [16]:
print(f'Feature: fuel_unit, Total: 180, Percent: {percentage:.3f}')

Feature: fuel_unit, Total: 180, Percent: 0.610

# QUESTION 7

The feature with missing values falls under what category? What missing value imputation technique would you use?

In [17]:
data.fuel_unit.dtype

dtype('O')

In [18]:
print('Categorical and mode importation')

Categorical and mode importation

# QUESTION 8

Which of the features has the second and third lowest correlation with the Fuel Cost Per Unit Burned?

In [19]:
data.corr()['fuel_cost_per_unit_burned'].abs().sort_values()

fuel_cost_per_mmbtu             0.000437
fuel_mmbtu_per_unit             0.010034
fuel_cost_per_unit_delivered    0.011007
report_year                     0.013599
fuel_qty_burned                 0.018535
utility_id_ferc1                0.037863
fuel_cost_per_unit_burned       1.000000
Name: fuel_cost_per_unit_burned, dtype: float64

In [20]:
print('fuel_mmbtu_per_unit and fuel_cost_per_unit_delivered')

fuel_mmbtu_per_unit and fuel_cost_per_unit_delivered

# QUESTION 9

For the fuel type coal, what is the percentage change in the fuel cost per unit burned in 1998 compared to 1994?

In [21]:
Q9 = data.groupby(['fuel_type_code_pudl','report_year']).agg({'fuel_cost_per_unit_burned':['sum']})
Q9.columns = Q9.columns.map('_'.join)
Q9.sort_values(by =['fuel_type_code_pudl','report_year'],ascending = True,inplace = True)
Q9.reset_index(inplace=True)

In [23]:
df = Q9[Q9['fuel_type_code_pudl']== 'coal']
df['percentage_change'] = [((df['fuel_cost_per_unit_burned_sum'][i] - df['fuel_cost_per_unit_burned_sum'][0])/df['fuel_cost_per_unit_burned_sum'][0])*100 for i in range(len(df))]
df.head()

,fuel_type_code_pudl,report_year,fuel_cost_per_unit_burned_sum,percentage_change
0,coal,1994,14984.572,0.000000
1,coal,1995,14571.785,-2.754747
2,coal,1996,12694.803,-15.280844
3,coal,1997,43742.178,191.914764
4,coal,1998,11902.597,-20.567655

In [24]:
answer = df.loc[4,'percentage_change'].round(0)
print(f'{answer}%')

-21.0%

# QUESTION 10

Which year has the highest average fuel cost per unit delivered?

In [36]:
Q10 = data.groupby('report_year').agg({'fuel_cost_per_unit_delivered': ['mean']})
Q10.columns = Q10.columns.map('_'.join)
Q10.sort_values(by =['fuel_cost_per_unit_delivered_mean'],ascending = False,inplace = True)
Q10.head()

             fuel_cost_per_unit_delivered_mean
report_year
1997                              11140.197239
1996                               9196.705948
2000                                985.362877
2009                                652.694163
2018                                499.269966